<?xml version="1.0"?>
<robot name="tribo" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- 바퀴는 지면과 접촉하므로 마찰을 크게 -->
  <gazebo reference="front_left_wheel">
    <mu1 value="1.2"/>
    <mu2 value="1.2"/>
  </gazebo>

  <gazebo reference="front_right_wheel">
    <mu1 value="1.2"/>
    <mu2 value="1.2"/>
  </gazebo>

  <gazebo reference="rear_left_wheel">
    <mu1 value="1.2"/>
    <mu2 value="1.2"/>
  </gazebo>

  <gazebo reference="rear_right_wheel">
    <mu1 value="1.2"/>
    <mu2 value="1.2"/>
  </gazebo>

  <!-- 섀시는 보통 바닥에 닿지 않지만, 혹시 모를 접촉을 대비해 낮은 마찰 -->
  <gazebo reference="chassis">
    <mu1 value="0.01"/>
    <mu2 value="0.01"/>
  </gazebo>

</robot>
